extends ../layout
block content 
 div.row
  div.col-md-12
   div#reporte1
 div.row
  div.col-md-12
 div(style='display:none;')
  - for item in Grafico1
   div.periodo= item.per
   div.consumo= item.cons 
 script(type='text/javascript').
   $(function(){
    var grafica1 = new column();
     $('.periodo').each(function(item,value){
        grafica1.xAxis.categories.push($(this).text());
     });
     $('.consumo').each(function(item,value){
        grafica1.series[0].data.push(parseInt($(this).text()));
     });
     $('#reporte1').highcharts(grafica1);
   
   });
